<div 
    #mapDiv class="map"
    cdkDropList
    #mapList="cdkDropList"
    [cdkDropListData]="dodatiNaMapi"
    (cdkDropListDropped)="dropOnMap($event)"></div>

<section
    class="full-width"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="30px">

    <section>
        <h2>To do</h2>

        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="gradovi"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of gradovi" cdkDrag>{{item.naziv}}</div>
        </div>
    </section>
  
    <section>
        <h2>Done</h2>
  
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="oznaceniZaMapu"
          [cdkDropListConnectedTo]="[mapList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of oznaceniZaMapu" cdkDrag>{{item.naziv}}</div>
        </div>
    </section>
</section>