<style>
    section {
        /* border: 1px solid black; */
    }

    form {
        /* border: 1px solid red; */
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 5px rgb(98, 99, 101);
    }

    mat-form-field {
        width: 300px;
    }
</style>

<section
    fxLayout="column"
    fxLayoutAlign="start center">
    <form
        (ngSubmit)="form.valid && onSubmit(form)"
        ngForm
        #form="ngForm"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="20px">
            <mat-form-field>
                <input 
                    matInput
                    ngModel
                    name="username"
                    type="text"
                    placeholder="Your Username"
                    required
                    #usernameInput="ngModel">
                <mat-error
                    *ngIf="usernameInput.hasError('required')">username is required</mat-error>
            </mat-form-field>

            <mat-form-field
                hintLabel="must be at least 6 character long">
                    <input 
                        matInput
                        ngModel
                        name="password"
                        [type]="showPassword ? 'text' : 'password'"
                        placeholder="Your Password"
                        required
                        minlength="6"
                        #passwordInput="ngModel">
                    <button
                        (click)="onShowPassword()"
                        type="button"
                        matSuffix
                        mat-icon-button>
                            <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                    <mat-hint 
                        *ngIf="passwordInput.value?.length > 0"
                        align="end">{{passwordInput.value?.length}} / 6</mat-hint>
                    <mat-error
                        *ngIf="passwordInput.hasError('required')">password is required</mat-error>
            </mat-form-field>

            <button
                type="submit"
                mat-raised-button
                [disabled]="!form.valid">Login</button>
    </form>
</section>