/* You can add global styles to this file, and also import other style files */
@import '../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}