<style>
    section {
        margin: 5px 0 0 0;
        /* border: 1px solid black; */
    }

    div {
        margin: 50px 0 0 0;
    }

    hr {
        width: 50vw;
    }
</style>

<div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="20px">
    
    <section
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        *ngFor="let user of users">

            <section>
                {{ user.getFirstName() }} {{ user.getLastName() }}
            </section>

            <section>
                role: {{ user.getRole() == 0 ? 'administrator' : 'kupac' }}
            </section>

            <section>
                password: {{ user.getPassword() }}
            </section>

            <section>
                <button
                    (click)="onUpdateUser(user)"
                    type="button"
                    mat-raised-button>Update User</button> | 
                <button
                    type="button"
                    (click)="onDeleteUser(user.getIdentificator())"
                    mat-raised-button>Delete User</button>
            </section>
        
    </section>

    <hr>

    <button
        type="button"
        (click)="onAddUser()"
        mat-raised-button>Add User</button>

    <app-user 
        *ngIf="shouldUpdate || shouldCreate" 
        [user]="userToUpdate" 
        [shouldCreate]="shouldCreate"
        (onDone)="onDone()"></app-user>
    
</div>