/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    height: 100%;
    /* koristice Roboto font-family ili ako ne uspe sans-serif */
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    margin: 0;
}