<style>
    .my-viewport {
        height: 150px;
        width: 100%;
    }

    mat-form-field {
        min-width: 250px;
    }

    h2 {
        font: inherit;
    }

    mat-list-item {
        cursor: pointer;
    }

    cdk-virtual-scroll-viewport {
        box-shadow: 1px 2px 3px grey;
    }

    .full-width {
        width: 100%;
    }

    /* za drag and drop */

    .example-container {
        /* width: 400px;
        max-width: 100%; */
        margin: 0 25px 25px 0;
        display: inline-block;
        vertical-align: top;
    }

    .example-list {
        border: solid 1px #ccc;
        min-height: 60px;
        min-width: 60px;
        background: white;
        border-radius: 4px;
        overflow: hidden;
        display: block;
    }

    .example-box {
        padding: 20px 10px;
        border-bottom: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        cursor: move;
        background: white;
        font-size: 14px;
    }

    .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .cdk-drag-placeholder {
        opacity: 0;
    }

    .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .example-box:last-child {
        border: none;
    }

    .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

</style>

<section
    class="full-width"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="2vw">

    <section
        class="full-width"
        fxLayout
        fxLayoutAlign="center center"
        fxLayoutGap="4vw">

            <mat-form-field 
                [appearance]="this.autocomplete.appearance ? this.autocomplete.appearance : 'fill'" 
                fxFlex
                appOpacityTransition
                [appOpacityDuration]="1">
                    <mat-label>{{this.autocomplete.inputPlaceHolder}}</mat-label>
                    <input 
                        type="text" 
                        matInput
                        [(ngModel)]="this.criteria"
                        #inputCriteria="ngModel"
                        (ngModelChange)="this.onModelChange($event, inputCriteria)"
                        [disabled]="this.autocomplete.disabled"
                        (focus)="this.onFocus(inputEl)"
                        [autocomplete]="'off'"
                        #inputEl>
            </mat-form-field>
        
            <mat-slide-toggle
                class="slide-toggle"
                *ngIf="this.showScrollView && (this.autocomplete.sortingOptions.length > 0 || this.ascList.length > 0 || this.descList.length > 0)"
                appOpacityTransition
                [appOpacityDuration]="1"
                [color]="'primary'"
                [checked]='false'
                [disabled]='false'
                (change)="this.onSlideToggleChange($event)">sort?</mat-slide-toggle>

    </section>

    <section
        *ngIf="this.showScrollView && this.sort && (this.autocomplete.sortingOptions.length > 0 || this.ascList.length > 0 || this.descList.length > 0)"
        appOpacityTransition
        [appOpacityDuration]="1"
        fxLayout
        fxLayoutAlign="center center"
        fxLayoutGap="2vw">

            <!-- criteria section -->
            <section class="example-container"
                fxLayout="column"
                fxLayoutAlign="start center">
                    <h2>criteria</h2>
                    <div
                        cdkDropList
                        #criteriaDropList="cdkDropList"
                        [cdkDropListData]="this.autocomplete.sortingOptions"
                        [cdkDropListConnectedTo]="[ascDropList, descDropList]"
                        class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of this.autocomplete.sortingOptions" cdkDrag>{{item}}</div>
                    </div>
            </section>

            <!-- asc section -->
            <section class="example-container"
                fxLayout="column"
                fxLayoutAlign="start center">
                    <h2>asc</h2>
                    <div
                        cdkDropList
                        #ascDropList="cdkDropList"
                        [cdkDropListData]="this.ascList"
                        [cdkDropListConnectedTo]="[criteriaDropList, descDropList]"
                        class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of this.ascList" cdkDrag>{{item}}</div>
                    </div>
            </section>

            <!-- desc section -->
            <section class="example-container"
                fxLayout="column"
                fxLayoutAlign="start center">
                    <h2>desc</h2>
                    <div
                        cdkDropList
                        #descDropList="cdkDropList"
                        [cdkDropListData]="this.descList"
                        [cdkDropListConnectedTo]="[criteriaDropList, ascDropList]"
                        class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of this.descList" cdkDrag>{{item}}</div>
                    </div>
            </section>
            
    </section>

    <ng-container *ngIf="{
            hasFetchedData: this.autocomplete.pageDataSource.getHasFetchedDataSubject() | async,
            hasDataToShow: this.autocomplete.pageDataSource.getHasDataToShowSubject() | async,
            isLoading: this.autocomplete.pageDataSource.isLoading() | async,
            totalItems: this.autocomplete.pageDataSource.getTotalItemsSubject() | async
        } as observables">

            <mat-progress-bar 
                mode="indeterminate"
                *ngIf="this.showScrollView && !observables.hasFetchedData"></mat-progress-bar>

            <!-- [itemSize] -> The size of the items in the list (in pixels). -->
            <cdk-virtual-scroll-viewport 
                *ngIf="this.showScrollView && observables.hasFetchedData && observables.hasDataToShow"
                appOpacityTransition
                [appOpacityDuration]="1"
                [itemSize]="observables.totalItems" 
                class="my-viewport"
                appHeight
                [height]="observables.totalItems * 60 > 200 ? 200 : observables.totalItems * 60">
                    <mat-list 
                        role="list">
                            <mat-list-item 
                                role="listitem"
                                *cdkVirtualFor="let item of this.autocomplete.pageDataSource;
                                                let index = index;
                                                let count = count;
                                                let first = first;
                                                let last = last;
                                                let even = even;
                                                let odd = odd;
                                                templateCacheSize: 0"
                                fxLayout
                                fxLayoutAlign="start center"
                                (click)="this.itemSelected(item)">
                                    <h2 *ngIf="!observables.isLoading && item">{{item.getContextToShow()}}</h2>
                                    <mat-spinner *ngIf="observables.isLoading" [diameter]="20"></mat-spinner>
                            </mat-list-item>
                    </mat-list>
            </cdk-virtual-scroll-viewport>

            <h2 
                *ngIf="this.showScrollView && observables.hasFetchedData && !observables.hasDataToShow"
                appOpacityTransition
                [appOpacityDuration]="1">No data to display</h2>

    </ng-container>
    
</section>