<style>

  section {
      width: 300px;
      /* border: 1px solid red; */
  }

</style>

<!-- <form
  [formGroup]="this.formGroup"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="2vh"> -->

    

      <!-- <section> -->
        <lib-autocomplete
          [autocomplete]="this.countryAutocomplete"></lib-autocomplete>
      <!-- </section> -->

    <ng-container
      *ngIf="{hide: this.cityAutocomplete.hiddenSubject | async} as cityAutocompleteSubjects">

        <lib-autocomplete
          *ngIf="!cityAutocompleteSubjects.hide"
          [autocomplete]="this.cityAutocomplete"></lib-autocomplete>

    </ng-container>

      
      
<!-- </form> -->