<style>
    section {
        margin: 5px 0 0 0;
        /* border: 1px solid black; */
    }

    div {
        margin: 50px 0 0 0;
    }

    hr {
        width: 50vw;
    }
</style>

<div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="20px">
    
    <section
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        *ngFor="let article of articles">

        <section>
            {{ article.getName() }} - {{ article.getPrice() }} din
        </section>
    
        <section>
            {{ article.getDescription() }}
        </section>

        <section>
            <button
                (click)="onUpdateArticle(article)"
                type="button"
                mat-raised-button>Update Article</button> | 
            <button
                type="button"
                (click)="onDeleteArticle(article.getIdentificator())"
                mat-raised-button>Delete Article</button>
        </section>        

    </section>

    <hr>

    <button
        type="button"
        (click)="onAddArticle()"
        mat-raised-button>Add Article</button>

    <app-article 
        *ngIf="shouldUpdate || shouldCreate" 
        [article]="articleToUpdate" 
        [shouldCreate]="shouldCreate"
        (onDone)="onDone()"></app-article>

</div>