<style>

</style>

<section
    fxLayout="column"
    fxLayoutAlign="center center">
        <form
            (ngSubmit)="form.valid && onSubmit()"
            [formGroup]="form"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="20px">
                <mat-form-field appearance="fill">
                    <mat-label>Article's name</mat-label>
                    <input 
                        formControlName="name"
                        matInput
                        type="text">
                    <mat-error
                        *ngIf="form.get('name').hasError('required')">name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Article's description</mat-label>
                    <textarea 
                        formControlName="description"
                        matInput
                        cols="30" 
                        rows="3">
                    </textarea>
                    <mat-hint 
                        align="end"
                        *ngIf="form.get('description').hasError('minlength')">{{form.get('description').value?.length}} / 5</mat-hint>
                    <mat-error
                        *ngIf="form.get('description').hasError('required')">description is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Article's price</mat-label>
                    <input 
                        formControlName="price"
                        matInput
                        type="number"
                        step="0.01">
                    <mat-hint>rsd</mat-hint>
                    <mat-error
                        *ngIf="form.get('price').hasError('required')">price is required</mat-error>
                    <mat-error
                        *ngIf="form.get('price').hasError('min')">price is invalid</mat-error>
                </mat-form-field>

                <button
                    *ngIf="shouldCreate"
                    type="submit"
                    mat-raised-button
                    [disabled]="!form.valid">Add</button>
                <button
                    *ngIf="!shouldCreate"
                    type="submit"
                    mat-raised-button
                    [disabled]="!form.valid">Update</button>
        </form>
    
</section>