<style>

    section.main {
        padding: 10px;
        border-radius: 5px;
        /* border: 1px solid black; */
        box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    }

</style>

<section
    class="main"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex="300px">
        <form
            (ngSubmit)="form.valid && onSubmit()"
            [formGroup]="form"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="20px">
                <mat-form-field appearance="fill">
                    <mat-label>Article's name</mat-label>
                    <input 
                        formControlName="name"
                        matInput
                        type="text">
                    <mat-error
                        *ngIf="form.get('name').hasError('required')">name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Article's description</mat-label>
                    <textarea 
                        formControlName="description"
                        matInput
                        cols="30" 
                        rows="3">
                    </textarea>
                    <mat-hint 
                        align="end"
                        *ngIf="form.get('description').hasError('minlength')">{{form.get('description').value?.length}} / 5</mat-hint>
                    <mat-error
                        *ngIf="form.get('description').hasError('required')">description is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Article's price</mat-label>
                    <input 
                        formControlName="price"
                        matInput
                        type="number"
                        step="0.01">
                    <mat-hint>rsd</mat-hint>
                    <mat-error
                        *ngIf="form.get('price').hasError('required')">price is required</mat-error>
                    <mat-error
                        *ngIf="form.get('price').hasError('min')">price is invalid</mat-error>
                </mat-form-field>

                <section
                    fxLayoutAlign="center center"
                    fxLayoutGap="5px">
                        <button
                            *ngIf="shouldCreate"
                            type="submit"
                            mat-raised-button
                            [disabled]="!form.valid">Add</button>
                        <button
                            *ngIf="!shouldCreate"
                            type="submit"
                            mat-raised-button
                            [disabled]="!form.valid">Update</button>
                        <button
                            type="button"
                            mat-button
                            (click)="this.onDone.emit()">Close</button>
                </section>
                
        </form>
    
</section>