<style>

    .node {
        fill: #ccc;
        stroke: #fff;
        stroke-width: 2px;
    }

    .link {
        stroke: #777;
        stroke-width: 2px;
    }

</style>

<!-- <section>
    <svg height="210" width="400">
        <g>
            <line x1=5 y1=20 x2=55 y2=20 style="stroke: green;"></line>
            <path d="M 55 20 L 45 15 45 25 Z" fill="green" />
        </g>
    </svg>
</section> -->