<!-- <svg
    width="960" height="620"
    *ngFor="let class of this.data">
        <defs>
            <style type="text/css">
                g{
                    stroke       : #000;
                }
                rect, path{
                    fill         : #fff;
                    fill-opacity : 0;
                }
                rect{
                    stroke-width : 6;
                }
                path, line{
                    stroke-width : 2;
                }
                text{
                    fill         : #000;
                    stroke-width : 0;
                    font-family  : sans-serif;
                }
                text.name{
                    font-size    : 25px;
                    font-weight  : bold;
                    text-anchor  : middle;
                }
                text.item{
                    font-size    : 25px;
                }
                text.visibility{
                    font-size    : 28px;
                    font-family  : monospace;
                    font-weight  : bold;
                    text-anchor  : middle;
                }
                text.abstract{
                    font-style   : italic;
                }
                text.relation{
                    font-size    : 22px;
                    text-anchor  : middle;
                }
                text.roll{
                    font-size    : 22px;
                    text-anchor  : left;
                }
            </style>
        </defs>

        <g>
            <rect width="320" height="132"></rect>

            <text x="150" y="45">{{ class.name }}</text>

            <line x1="0" x2="320" y1="60" y2="60"></line>

            <text 
                *ngFor="let attribute of class.attributes; let i = index" 
                x="60" y="90">{{ attribute.name }}</text>

            <line x1="0" x2="320" y1="80" y2="80"></line>

            <text 
                *ngFor="let operation of class.operations; let i = index" 
                x="60" y="113">{{ operation.name }}</text>
        </g>
</svg> -->
