<style>
    main {
        padding: 5px;
    }

    mat-sidenav-container, mat-sidenav, mat-sidenav-content {
        height: 100vh;
    }

    mat-sidenav {
        width: 250px;
    }

    main {
        margin-bottom: 100px;
    }

</style>

<mat-sidenav-container>
    <mat-sidenav
        #sidenav>
            <mat-nav-list>
                <a 
                    mat-list-item 
                    routerLink="articles">Articles</a>
                <a
                    mat-list-item 
                    routerLink="users">Users</a>

                <mat-list-item
                    *ngIf="isLoggedIn"
                    (click)="onLogout()"
                    role="listitem">
                        Logout
                </mat-list-item>
            </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <button
                type="button"
                (click)="onToggleSidenav(sidenav)"
                mat-icon-button>
                    <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet> 
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>