<style>

    section.main {
        padding: 10px;
        border-radius: 5px;
        /* border: 1px solid black; */
        box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    }

</style>

<section
    class="main"
    fxLayout="column"
    fxLayoutAlign="center center">
        <form
            (ngSubmit)="form.valid && onSubmit()"
            [formGroup]="form"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="20px">
                <mat-form-field appearance="fill">
                    <mat-label>User's first name</mat-label>
                    <input 
                        formControlName="firstName"
                        matInput
                        type="text">
                    <mat-error
                        *ngIf="form.get('firstName').hasError('required')">first name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>User's last name</mat-label>
                    <input 
                        formControlName="lastName"
                        matInput
                        type="text">
                    <mat-error
                        *ngIf="form.get('lastName').hasError('required')">last name is required</mat-error>
                </mat-form-field>
                <mat-form-field 
                    *ngIf="shouldCreate"
                    appearance="fill">
                        <mat-label>User's username</mat-label>
                        <input 
                            formControlName="username"
                            matInput
                            type="text">
                        <mat-hint 
                            *ngIf="form.get('username').value?.length > 0"
                            align="end">{{form.get('username').value?.length}} / 6</mat-hint>
                        <mat-error
                            *ngIf="form.get('username').hasError('required')">username is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>User's password</mat-label>
                    <input 
                        formControlName="password"
                        matInput
                        type="text">
                    <mat-hint 
                        *ngIf="form.get('password').value?.length > 0"
                        align="end">{{form.get('password').value?.length}} / 6</mat-hint>
                    <mat-error
                        *ngIf="form.get('password').hasError('required')">password is required</mat-error>
                </mat-form-field>
                <mat-radio-group 
                    formControlName="role"
                    aria-label="Select an option"
                    required>
                    <mat-radio-button value="administrator">administrator</mat-radio-button> | 
                    <mat-radio-button value="kupac">kupac</mat-radio-button>
                </mat-radio-group>

                <section
                    fxLayoutAlign="center center"
                    fxLayoutGap="5px">
                    <button
                        *ngIf="shouldCreate"
                        type="submit"
                        mat-raised-button
                        [disabled]="!form.valid">Add</button>
                    <button
                        *ngIf="!shouldCreate"
                        type="submit"
                        mat-raised-button
                        [disabled]="!form.valid">Update</button>
                    <button
                        type="button"
                        mat-button
                        (click)="this.onDone.emit()">Close</button>
                </section>
                

                
        </form>
    
</section>