<style>
    section {
        margin: 5px 0 0 0;
        /* border: 1px solid black; */
    }

    div {
        margin: 50px 0 0 0;
    }

    hr {
        width: 50vw;
    }
</style>

<div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="20px">

    <lib-my-angular-table 
        *ngIf="this.table && this.table.getChildren().length > 0"
        [table]="this.table"></lib-my-angular-table>
    <section
        *ngIf="!this.table || !(this.table.getChildren().length > 0)">No articles</section>

    <hr>

    <button
        type="button"
        (click)="onAddArticle()"
        mat-raised-button>Add Article</button>

    <app-article 
        *ngIf="shouldUpdate || shouldCreate" 
        [article]="articleToUpdate" 
        [shouldCreate]="shouldCreate"
        (onDone)="onDone()"
        #articleCompView></app-article>

</div>