<!-- <app-line-chart [data]="podaci"></app-line-chart>
<app-line-chart [data]="podaci"></app-line-chart>
<app-bar-chart [data]="podaci"></app-bar-chart>
<button (click)="noviPodaci()">Novi podaci</button> -->
<!-- <app-force-directed-graph [data]="this.data"></app-force-directed-graph> -->
<app-class [data]="this.classDiagramData"></app-class>
